<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title #{title}
  style(type='text/css').
    h1, h3 {
      text-align: center;
    }
    h1 {
      width: 800px;
      margin: 0 auto;
    }
body
  h1 #{message}
  h3 Эта страница была сохранена в кеше #{date}
